node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-lock.yaml

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
logs
*.pid
*.seed
*.bak

.env
.env.* 

.git
.gitignore
*.swp
*.swo
.vscode
.idea
.next
docker-compose.override.yml
