node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

.env
.env.*  # np. .env.local, .env.dev, .env.prod

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.sqlite
*.db
*.seed

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

coverage/
nyc_output/
jest/
*.lcov


dist/
build/
out/

docker-compose.override.yml
*.pid

*.crt
*.key
ssl_conf.env
