
.section-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    font-size: x-large;
    border-right: solid 0.5px rgb(90, 90, 90);
    .clone-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: xx-large;
        width: 16vw;
    }
    .section-routes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        font-weight: bold;
        .section-element {
            display: flex;
            align-items: center;
            border-radius: 16px;
            padding: 1.6rem;
            width: 200px;
            img {
                display: block;
                object-fit: cover; 
            }
            &:hover {
                background-color: rgb(31, 31, 31);
                transition: background-color 0.4s ease 0.04s;
            }
            a,button {
                color: white;
                text-decoration: none;
                border: none;
            }
        }
    }
    .section-post {
        margin-top: 3.6rem;
        a {
            text-decoration: none;
            background-color: white;
            border-radius: 16px;
            padding: 0.8rem;
            padding-right: 4.8rem;
            padding-left: 4.8rem;
            font-weight: bold;
            font-size: small;
        }
    }
    .bottom-profile-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        .logout-container {
            background-color: black;
            padding: 32px;
            button {
               background-color: black;
               border: solid 0.5px rgba(90, 90, 90, 0.576);
               border-radius: 16px;
               box-shadow: 0 4px 8px rgba(85, 85, 85, 0.3);
               color: white;
               padding: 32px;
            }
        }
        .section-profile {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            margin-right: 16px;
            &:hover {
                    background-color: rgb(31, 31, 31);
                    border-radius: 16px;
                    transition: background-color 0.4s ease 0.04s;
                }
            width: fit-content;
            .username-section {
                div,p {
                    font-weight: bold;
                } 
                p {
                    color: grey;
                    font-size: small;
                }
                
            }
    
        }
    }
}
