.notifications-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .notifications-navigation {
        display: flex;
        justify-content: space-between;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        .clear-notifications-button {
            background-color: black;
            color: rgb(220, 34, 34);
            border: none;
            font-weight: bold;
            &:hover {
                background-color: rgb(31, 31, 31);
                border-radius: 1.6rem;
                transition: background-color 0.4s ease 0.04s;
            }
        }
    }
    .no-notifications-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16%;
        p {
            width: 64%;
        }
    }
    .all-notifications-container {
        display: flex;
        justify-content: center;
        border-bottom: solid 0.5px rgb(90, 90, 90);
        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: large;
            border-bottom: solid 4px rgb(56, 56, 255);
            border-radius: 0.5px;
            padding: 0.8rem;
        }
    }
}