.search-bar-container {
            .empty-search-bar {
                display: flex;
                align-items: flex-end;
                border: solid 0.5px rgb(90, 90, 90);
                border-top: none;
                box-shadow: 0 4px 8px rgba(85, 85, 85, 0.3);
                padding: 0.4rem;
                border-radius: 0.8rem;
                color:gray;
                font-size: small;
            }
            input {
                background-color: black;
                color: white;
                border: 0.5 solid gray;
                padding-top: 0.8rem;
                padding-left: 0.4rem;
                padding-bottom: 0.8rem;
                width: 96%;
                border-radius: 1.6rem;
                &::placeholder {
                    color: white;
                    padding-left: 1.6rem;
                }
            }
        }