.user-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    &:hover {
        background-color: rgb(31, 31, 31);
        border-radius: 16px;
        transition: background-color 0.4s ease 0.04s;
    }
    .account-details {
        padding: 0.8rem;
        img {
            border-radius: 64px;
        }
        
    }
    .user-info {
        font-size: medium;
        font-weight: bold;
        div:nth-child(2n+2) {
            font-weight:lighter;
            font-size: small;
            color: gray;

        }

    }
    button {
        border: none;
    }
    .follow-button {
        background-color: white;
        color: black;
        border-radius: 16px;
        padding: 0.6rem;
        padding-right: 0.8rem;
        padding-left: 0.8rem;
        font-weight: bold;
    }
}