.root-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  font-size: x-large;
}
.root-container .account-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.root-container .account-container h1 {
  width: 64%;
}
.root-container .account-container a, .root-container .account-container button {
  padding: 0.6rem;
  margin-right: 64%;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
}
.root-container .account-container a {
  background-color: rgb(29, 155, 240);
  color: white;
  margin-top: 2%;
  padding: 0.36rem;
  font-weight: bold;
  font-size: large;
}
.root-container .account-container .reminder {
  margin-top: 48px;
}
.root-container .account-container button {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(29, 155, 240);
  border: 1px solid rgb(66, 66, 66);
}

.section-container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100%;
  gap: 32px;
  margin: 4%;
  border: solid 2px lightgrey;
}
.section-container .section-routes {
  font-weight: bold;
}
.section-container .section-routes .section-element {
  border-radius: 16px;
  padding: 0.8rem;
  width: fit-content;
  height: 8%;
}
.section-container .section-routes .section-element:hover {
  background-color: rgb(81, 80, 80);
  transition: background-color 0.4s ease 0.04s;
}
.section-container .section-routes .section-element a, .section-container .section-routes .section-element button {
  color: white;
  text-decoration: none;
  border: none;
}
.section-container .section-post a {
  text-decoration: none;
  background-color: white;
  border-radius: 16px;
  padding: 0.8rem;
  padding-right: 4.8rem;
  padding-left: 4.8rem;
  font-weight: bold;
  font-size: small;
}
.section-container .section-profile {
  display: flex;
  gap: 4px;
  margin: 4px;
  width: fit-content;
}
.section-container .section-profile:hover {
  background-color: rgb(81, 80, 80);
  border-radius: 16px;
  transition: background-color 0.4s ease 0.04s;
}
.section-container .section-profile .username-section div, .section-container .section-profile .username-section p {
  font-weight: bold;
}
.section-container .section-profile .username-section p {
  color: grey;
  font-size: small;
}

.create-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.09);
}
.create-account-container .items-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 24vw;
  height: 64vh;
  padding-left: 4.8rem;
  gap: 4px;
  background-color: black;
}
.create-account-container .items-container .back-button {
  position: absolute;
  right: 62%;
  top: 20%;
  color: white;
  border: none;
}
.create-account-container .items-container h2 {
  margin-top: 16%;
}
.create-account-container .items-container .create-account-information {
  color: gray;
  font-size: small;
}
.create-account-container .items-container strong {
  margin-top: 8%;
}
.create-account-container .items-container input {
  background-color: black;
  border: solid 1px lightgrey;
  border-radius: 4px;
  color: white;
}
.create-account-container .items-container input:focus {
  border: solid 2px rgb(29, 155, 240);
  outline: none;
}
.create-account-container .items-container input {
  display: flex;
  width: 16vw;
  padding: 0.8rem;
  margin-top: 4%;
}
.create-account-container .items-container .birth-date-details {
  display: flex;
}
.create-account-container .items-container .birth-date-details .birth-date-select {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-right: 16px;
  gap: 4%;
  width: 64%;
  padding: 2%;
  border: solid 1px gray;
  border-radius: 4px;
}
.create-account-container .items-container .birth-date-details .birth-date-select label {
  color: gray;
}
.create-account-container .items-container .birth-date-details .birth-date-select select {
  background-color: black;
  color: white;
  border: none;
}
.create-account-container .items-container .birth-date-details .birth-date-select select:focus {
  border: none;
  outline: none;
}
.create-account-container .items-container .birth-date-details .birth-date-select option {
  background-color: black;
  color: white;
}
.create-account-container .items-container .birth-date-details .birth-date-select:focus {
  border: solid 2px rgb(29, 155, 240);
  outline: none;
}
.create-account-container .items-container .next-button {
  width: 16vw;
  padding: 0.6rem;
  border-radius: 8px;
  margin-top: 4%;
  margin-left: 4%;
}

.homepage-post-container {
  border: solid 2px white;
}
.homepage-post-container input {
  background-color: black;
  color: grey;
  border: none;
}
.homepage-post-container .post-button {
  background-color: white;
  border-radius: 16px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  height: 1.6rem;
}
.homepage-post-container .post-button:disabled {
  color: black;
  background-color: rgba(211, 211, 211, 0.68);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: white;
}

/*# sourceMappingURL=globals.css.map */
