@use "scss/components/root.scss";
@use "scss/components/leftsidebar.scss";
@use "scss/components/signup.scss";
@use "scss/components/homepage.scss";
@use "scss/components/trending.scss";
@use "scss/components/main.scss";
@use "scss/components/user.scss";
@use "scss/components/followUsers.scss";
@use "scss/components/searchbar.scss";
@use "scss/components/notifications.scss";
@use "scss/components/profile.scss";
@use "scss/components/querySearches.scss";
@use "scss/components/post.scss";
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: white;
}